body{
    display:flex;
    background-color: blue;
    flex-direction: column;
    flex-wrap:wrap;
   
    
}

h1{
    width: 50%;
    color:white;
    background-color:brown;
    padding:10px;
    border-radius: 10px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 10px;
}

.instruction{
    color:white;
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;;
}
.card-game{
    height: 640px;
    width:640px;
    display:flex;
    flex-wrap:wrap;
    margin:auto;
    /* background-color: rgb(245, 150, 9); */
}

.card{
    height:calc(33% - 10px);
    width:calc(25% - 10px);
    position: relative;
    margin: 5px;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front, .back{
    height:100%;
    width:100%;
    position: absolute;
    background-color:rgb(147, 109, 235);
    border-radius: 5px;
}

.flip{
    transform: rotatey(180deg);
}

.back{
    backface-visibility: hidden;
}

.front{
    transform:rotatey(180deg);
}

.result{
color:white;
text-align: center;
background-color: rgb(240, 149, 75);
font-size: 25px;

}
